@import "variables";
@import "mixins";

.footer-single-line {
  background-color: $app-green-color-darken;
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;

  padding-top: 12px;
  padding-bottom: 11px;

  box-sizing: border-box;

  text-align: center;
}
