$app-padding: 16px;
$app-body-overflow: scroll;
$app-content-width: 1366px;
$app-container-width: 1238px;
$app-container-min-width: 1024px;

$app-content-side-padding: 87px;

$app-base-offset: 24px;

$app-base-text-color: #828081;
$app-sidebar-block-width: 219px;

$app-blue-color: #3498db;
$app-blue-color-darken: #0065a8;

$app-green-color: #3cc47c;
$app-green-color-darken: #089148;

$employer-photo-width: 186px;
